<a href="https://colab.research.google.com/github/helloitsdaksh/Cheatsheets/blob/main/Pandas_Cheatsheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Creating, Reading and Writing

## DataFrame

In [3]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

## Series

In [6]:
pd.Series([0,1,2,3,4,5])

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## Reading

In [23]:
df = pd.read_csv("/content/sample_data/california_housing_test.csv",) # specify `index_col` if required

In [24]:
df.shape

(3000, 9)

In [25]:
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [26]:
df.describe #df.info

<bound method NDFrame.describe of       longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]>

# Indexing, Selecting & Assigning

##Native accessors

In [28]:
df.longitude # or df["longitude"]

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [30]:
df.longitude[0] # or df["lonfitude"][0]

-122.05

## Indexing

Both loc and iloc are row-first, column-second.hence `iloc[r,c]` or `loc[r,c]`
* `iloc` is used for index based selection
* `loc` is used for labeled based selection

### Index based selection

In [31]:
df.iloc[0]

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [32]:
df.iloc[:,0]

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [33]:
df.iloc[:3,0]

0   -122.05
1   -118.30
2   -117.81
Name: longitude, dtype: float64

In [34]:
# can even pass list
df.iloc[[1,2,3],0]

1   -118.30
2   -117.81
3   -118.36
Name: longitude, dtype: float64

### Label-based selection

In [35]:
df.loc[0,'longitude']

-122.05

In [37]:
df.loc[:5,['longitude','latitude']]

   longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
2    -117.81     33.78
3    -118.36     33.82
4    -119.67     36.33
5    -119.56     36.51

**NOTE:** 
Choosing between loc and iloc
When choosing or transitioning between loc and iloc, there is one "gotcha" worth keeping in mind, which is that the two methods use slightly different indexing schemes.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

Why the change? Remember that loc can index any stdlib type: strings, for example. If we have a DataFrame with index values Apples, ..., Potatoes, ..., and we want to select "all the alphabetical fruit choices between Apples and Potatoes", then it's a lot more convenient to index df.loc['Apples':'Potatoes'] than it is to index something like df.loc['Apples', 'Potatoet'] (t coming after s in the alphabet).

**This is particularly confusing when the DataFrame index is a simple numerical list, e.g. 0,...,1000. In this case df.iloc[0:1000] will return 1000 entries, while df.loc[0:1000] return 1001 of them! To get 1000 elements using loc, you will need to go one lower and ask for df.loc[0:999].**


Otherwise, the semantics of using loc are the same as those for iloc.

## Manipulating the Index

`set_index` is used to set index as a particular column

In [38]:
df.set_index("longitude")

           latitude  housing_median_age  ...  median_income  median_house_value
longitude                                ...
-122.05       37.37                27.0  ...         6.6085            344700.0
-118.30       34.26                43.0  ...         3.5990            176500.0
-117.81       33.78                27.0  ...         5.7934            270500.0
-118.36       33.82                28.0  ...         6.1359            330000.0
-119.67       36.33                19.0  ...         2.9375             81700.0
...             ...                 ...  ...            ...                 ...
-119.86       34.42                23.0  ...         1.1790            225000.0
-118.14       34.06                27.0  ...         3.3906            237200.0
-119.70       36.30                10.0  ...         2.2895             62000.0
-117.12       34.10                40.0  ...         3.2708            162500.0
-119.63       34.42                42.0  ...         8.5608            500001.0

[3000 rows x 8 columns]